body {
    background-color: #99a2b0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

.title{
    text-align: center;
    color: #0d2b5c;
    background-color: darkseagreen;
    margin-top: 0px;
}

#naviationBar{
    text-align: left;
}