* {
    margin: 10px;
    padding: 10px;
}


header {
    height: 100px;
    width: 100%;
    text-align: center;
    line-height: 100px;
    border-bottom: 10px solid darkblue;
    background-color: #999900;
    position: fixed;
}

footer {
    height: 100px;
    width: 100%;
    text-align: center;
    line-height: 100px;
    border-top: 10px solid darkblue;
    background-color: #999900;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.text-centre {
    text-align: center;
    color: #0d2b5c;
    background-color: darkseagreen;
    margin-top: 0px;
}

.text-right {
    text-align: right;
    padding: 10px;
    background-color: darkseagreen;
}

li {
    display: inline;
    font-size: 20px;
    padding: 10px, 20px;
}

section {
    background-color: lightsalmon;
}

img {
    display: block;
    margin: 20px auto;
}

#navigationBar {
    background-color: aqua;
}
/*#imageCentre {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}*/
